<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplicación personalizada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <ion-input color="secondary" [(ngModel)] ="filtro" placeholder="Escriba lo que quieres buscar" autocapitalize="on" >
  </ion-input>
  <ion-grid>
    <ion-row>
      <ion-container *ngFor="let user of users | async">
      <ion-col *ngIf="filtro == ' '  || user.first_name.includes(filtro)" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <h1 class="nombre">
              {{ user.first_name }} {{user.last_name}} 
            </h1>
            <ol>
              <li>
                Trabajo: {{ user.trabajo }}
              </li>
              <li>
                Pais de Origen: {{user.pais_origen}}
              </li>
              <li>
                Moneda del pais: ({{ user.moneda_pais }})
              </li>
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-container>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" class="boton" (click)="actualizar()">Recargar la página</ion-button>
</ion-content>
